<div class="row">
  <div class="col-lg-6">
    <div class="text-center">
      <a href='http://www.iau.org/'><img style='height:80px' src=<%= asset_path 'IAULogo.png'%>/></a>
      <p>International Astronomical Union</p>

    </div>
  </div>
  <div class="col-lg-6">
    <div class="text-center">
      <a href='https://www.zooniverse.org/'><img style='padding-top:30px' src=<%= asset_path 'zooniverse-wordmark-web-white-small.png'%>/></a>
    </div>
  </div>
</div>


<div class="row">

  <h1 style='font-size:60px' class="text-center hidden-xs"><strong>NameExoWorlds</strong></h1>
  <h1 class="text-center visible-xs"><strong>NameExoWorlds</strong></h1>
  <p class="lead text-center">Help decide the names of planets orbiting other stars</p>
</div>

<%if current_club%>

  <div  class="row">
    <div class='text-center'>
      <h1>Welcome back <%=current_club.username%></h1>
      <%if current_club.can_vote%>
        <p>You can now start naming systems.</p>
        <a href='/systems'><button class="btn btn-primary btn-lg">See systems</button></a>
        <a href='/clubs/<%=current_club.id%>'><button class="btn btn-primary btn-lg">See your names</button></a>
      <%else%>
        <p>Your organisation is not eligible for joining the NameExoWorlds contest, please refer to <a href="https://directory.iau.org/faq">https://directory.iau.org/faq</a> for details.
      <%end%>
    </div>
  </div>

<%else%>
  <div id='involved' class="row">
    <div class="col-lg-6">
      <div class="text-center">
        <h1>For Public and Astronomy-Interested Organisations</h1>
        <p>To submit a naming proposal, register your club with the IAU.</p>

        <a href='https://directory.iau.org/register'><button class="btn btn-primary btn-lg">Register</button></a>
        <a href='/clubs/sign_in'><button class="btn btn-primary btn-lg">Sign In</button></a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <h1>For individuals</h1>
        <p>To vote, sign up, and we’ll let you know when we’re ready for you! (To be opened on Jun 2015)<br><br><br> </p>
        <a href='#signup'><button class="btn btn-primary btn-lg">Sign Up</button></a>
      </div>
    </div>
  </div>

<%end%>

<hr>
