<div id="process" class="row">
  <h1 class='text-center'>The Process</h1>

  <div class="col-lg-12">
    <ul class='spaced'>
      <li><strong>July 2014:</strong> a list of 305 well-characterized exoplanets discovered prior to 31 December 2008, is selected for public naming by the International Astronomical Union (IAU) upon the recommendation of its Working Group Exoplanets for the Public. These exoplanets belong to 260 exoplanetary systems comprising one to five members, in addition to the host star. These systems and their host star together are here referred to as ExoWorlds. Their list is published on the <a href='http://nameexoworlds.org'>NameExoWorlds.org</a> website.  </li>
      <li><strong>October 2014:</strong> an IAU Directory for World Astronomy website (<a href='http://directory.iau.org/'>directory.iau.org</a>) allows astronomy clubs and non-profit organisations interested in naming these ExoWorlds to register. The IAU will have the capability to handle the registration of thousands of such groups. Registration is compulsory.</li>
      <li><strong>January 2015:</strong> clubs or  non-profit organisations vote for the 20–30 top ExoWorlds they wish to name out of the list provided by the IAU. The actual number will depend on how many groups have registered.</li>
      <li><strong>February 2015:</strong> clubs or non-profit organisations send in proposals for the names of members of these selected ExoWorlds (including the host star), based on the rules in the IAU Exoplanet <a href='http://www.iau.org/public/themes/naming_exoplanets/'>Naming Theme</a>, together with a detailed supporting argument for their choice. Each group is allowed to name only one ExoWorld. More details on this stage will be given later.</li>
      <li><strong>June 2015:</strong> the general public votes to rank the proposed names. The IAU and Zooniverse will be ready to handle a million votes or more worldwide.</li>
      <li><strong>July 2015:</strong> the IAU, via its Executive Committee Working Group on the Public Naming of Planets and Planetary Satellites, oversees the final stages of the contest, and validates the winning names from the vote.</li>
      <li><strong>3–14 August 2015:</strong> the results are announced at a special public ceremony held during the IAU XXIX General Assembly in Honolulu, USA.</li>
    </ul>
  </div>
</div>

<hr>


<div id="rules" class="row">
  <div class="col-lg-12">
    <h1 class='text-center'>Rules and Privacy</h1>
    <h2>What will be named?</h2>
    <ol>
      <li>Exoplanets belonging to a list of 305 well-characterised exoplanets, discovered prior to 31 December 2008, and their host stars. The date refers to the date of submission to a refereed journal. Many exoplanets discovered after this date require confirmation or are incompletely characterised.</li>
      <li>These exoplanets belong to 260 exoplanetary systems comprising one to five members.</li>
      <li>These systems have been selected for naming by the <a href='http://www.iau.org/science/scientific_bodies/working_groups/211/'>IAU Working Group Exoplanets</a> for the Public, and are published on the <a href="http://NameExoWorlds.org">www.NameExoWorlds.org</a> website.</li>
      <li>This master list will be referred to as the ExoWorlds list and forms the basis of the <a href="http://NameExoWorlds.org">NameExoWorlds</a> campaign led by the IAU’s Public Naming of Planets and Planetary Satellites Working Group.</li>
      <li>The exoplanetary systems in the ExoWorlds list can be named and recognised by the IAU only via the <a href="http://NameExoWorlds.org">NameExoWorlds</a> campaign.</li>
      <li>A vote will be organised among registered organisations (see next Section) to select the top 20-30 most popular exoplanetary systems in the ExoWorlds list for naming.</li>
      <li>During the first NameExoWorlds campaign, proposals for names for members of the selected 20-30 ExoWorlds (host stars and their exoplanets) shall be submitted to <a href='nameexoworlds.org'>www.NameExoWorlds.org</a> only by the registered organisations.</li>
    </ol>
    <h2>Who can submit names?</h2>
    <ol>
      <li>Only public astronomical organisations (such as Planetariums, Science Centres, Amateur Astronomy Clubs, Online Astronomy platforms) or non-profit astronomy-interested organisations (such as High schools, Cultural clubs) with a proven interest in astronomy, (hereafter "organisations" for short) based in any country, shall be allowed to propose names.</li>
      <li>To suggest names, these organisations must first register on the IAU Directory for World Astronomy <a href='http://directory.iau.org/'>website</a> providing their website URL, the organisation’s registration number/certificate/document number testifying its status, and the full name, e-mail and postal address of a contact person.</li>
      <li>The website of the organisation shall demonstrate its activity or interest in astronomy, and a verifiable non-profit status.</li>
    </ol>

    <h2>How can names be submitted?</h2>

    <ol>
      <li>Registered organisations may send only one proposal, concerning only one of the 20-30 ExoWorlds selected, independently of the number of exoplanets belonging to the system of their choice.</li>
      <li>These organisations may not gather suggestions for names by means of sales, donations or other financial transactions. Organisations may not sell their right to suggest names to other entities or try to gain any other non-commercial or commercial benefit from their right to suggest names to the IAU.</li>
      <li>Organisations shall send their naming proposals to <a href="http://NameExoWorlds.org">www.NameExoWorlds.org</a> along with a detailed justification of the host star and exoplanet names (of a single ExoWorld) in English (max. 250 words).</li>
    </ol>
    <h2>What names can be submitted?</h2>
    <ol>
      <li>Proposed names should be:</li>
      <ul>
        <li>16 characters or less in length.</li>
        <li>Preferably one word.</li>
        <li>Pronounceable (in some language)</li>
        <li>Non-offensive</li>
        <li>not too similar to an existing name of an astronomical object. Names already assigned to astronomical objects can be checked using the links <a href='http://cds.u-strasbg.fr/cgi-bin/sesame'>http://cds.u-strasbg.fr/cgi-bin/sesame</a> (for galactic and extragalactic names), and the MPC database <a href='http://www.minorplanetcenter.net/db_search'>http://www.minorplanetcenter.net/db_search</a> (for names).</li>
      </ul>

      <li>In addition it is not allowed to propose:</li>
      <ul>
        <li>Names of pet animals.</li>
        <li>Names of a purely or principally commercial nature.</li>
        <li>names of individuals, places or events principally known for political, military or religious activities.</li>
        <li>Names of living individuals.</li>
      </ul>

      <li>Only names that are not protected by trademarks or other forms of intellectual property claims may be proposed.</li>
      <li>The decision of the IAU, via its Executive Committee Working Group on Public Naming of Planets and Planetary Satellites, on the names to be offered for general public vote is done based on the <a herf='http://www.iau.org/public/themes/naming_exoplanets/'>IAU Exoplanet Naming Theme</a> and is final.</li>
      <li>It is understood that the winning public names, after the general public vote, will not replace the scientific designations, but will be recognised by the IAU as the appropriate publicly used name for the object(s), and be publicised as such, along with due credit to the organisation that proposed it. This public name may then be used internationally along with, or instead of, the scientific designation, permanently and without restrictions.</li>
    </ol>
    <h2>Who will vote?</h2>
    <ol>
      <li>To be allowed to vote, any individual of the general public must first register on the NameExoWorlds platform.</li>
      <li>The general public will cast a vote on the set of names (host star and exoplanets) proposed by organisations for each of the 20-30 ExoWorlds, with due consideration of the name justifications, via the NameExoWorlds platform.</li>
      <li>Any individual will be allowed to cast a vote only once, for one or more ExoWorlds of his/her choice.</li>
      <li>Members of the IAU Public Naming of Planets and Planetary Satellites Working Group and the IAU Exoplanets for the Public Working Group are ineligible for participation.</li>
    </ol>
  </div>

</div>

<hr>

<div id='planets' class='row'>
  <div class='col-lg-12'>
    <h1 class='center-text'>The ExoWorlds</h1>
    <p>The ExoWorlds list of exoplanets and their host stars being available for public naming at the initiative of the IAU is a list compiled from several exoplanet databases, including exoplanet.eu [2] and exoplanets.org [3].</p>
    <p>This list includes well-studied exoplanets discovered over twenty years, up to 31 December 2008. A period of at least five years since the discovery has been considered as a simple and satisfactory criterion to include exoplanets which can be considered as confirmed. All the discoveries were made using various methods, including radial velocities, transits, microlensing and direct imagery.</p>
    <p>For these exoplanets, the scientific nomenclature follows the nomenclature rules widely adopted by the scientific community, which are drawn from the rules for naming binary stars. For each planet, the name of the host star (around which planets are orbiting) is followed by a lower-case letter: b for the first discovered exoplanet, c for the second, etc. (The letters are capitalized in the case of binaries: the "primary" star name is followed by "A", and its companion stars are labelled by the same name followed by "B", "C", etc.).</p>
    <p>In the ExoWorlds list, four stars already have common names: Fomalhaut (alpha Piscis Austrini) is one of the four “royal stars” of ancient Persia, with Aldebaran, Antares, and Regulus; Pollux (beta Geminorum) is the twin brother of Castor, son of Zeus (Jupiter) and Leda, from the ancient Greek and Roman mythologies — the constellation Gemini is named after them (Gemini means twins in latin).  Two other stars also have common names: gamma Cephei (Errai, Arabic for shepherd), and iota Draconis (Edasich, Arabic also). These stars have common names as well in other cultures [1].</p>
    <p>Consequently these four stars cannot be considered for public naming.</p>


    <br/>
    <h2>References</h2>
    <p>[1] Kunitzsch, P, and Smart, T., 2006, "A Dictionary of Modern Star Names" (2nd Revised Edition, Sky Publishing, Cambridge, MA, USA)</p>
    <p>[2] Schneider, J., Dedieu, C., Le Sidaner, P., Savalle, R., and Zolotukhin, I. 2011, “Defining and cataloging exoplanets: the exoplanet.eu database”, Astronomy & Astrophysics, vol.532, id.A79, 11 pp.</p>
    <p>[3] Wright, J. T., Fakhouri, O., Marcy, G. W., Han, E., Feng, Y., Johnson, John Asher, Howard, A. W., Fischer, D. A., Valenti, J. A., Anderson, J., Piskunov, N. 2011, “The Exoplanet Orbit Database”, Publications of the Astronomical Society of the Pacific, Vol.123, issue 902, pp.412-422.</p>

  </div>
</div>
