<div class='navbar'>
  <div class='filters'>
    <span>All</span> <span>Popular</span> <span>New</span>
  </div>
  <form class="navbar-search pull-right">
    <input type="text" class="search-query" placeholder="Search">
  </form>
</div>

{{#each planet in planets}}
  <div class='planet-list'>
    {{planet-card planet=planet}}
  </div>
{{/each}}
