<div class='jumbotron masthead'>
  <div class='container'>
    <h1>Help us name any one of 512 recently discovered exoplanets</h1>
    <p>This is a project to let the crowd choose the names of some new planets discovered orbiting other stars. Vote for the names you prefare!</p>
  </div>
</div>

<div class='container'>
  {{render "auth_bar"}}
</div>

<div class='container'>
  {{outlet}}
</div>
