

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background: image-url('starfield-planets.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.row{
  padding: 20px 0px
}
.navbar{
  background-color: rgba(0,0,0,0.7)
}

input, textarea{
    color:black;
    background: #f0f0f0;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-size: 12px;
    padding: 12px;
    width: 30%;
}

textarea {
    resize: none;
}


a:link, a:visited {
	color:#eee;
}

.block {
	background-color:rgba(0,0,0,0.2);
    height:370px;
  	padding-left:12px;
  	padding-right:12px;
}

.block-sm {
    height:180px;
}

.btn-flat {
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	border-radius:0px;
  	border-width:0;
  	background-image:none;
  	padding:16px;
  	margin:0 auto;
  	margin-top:15px;
  	width:70%;
    font-size:20pt;
}

/* mini carousel */
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {
	margin-left:42%;
}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	margin:1px;
  	width:20px;
    display:block;
  	float:left;
    text-align:center;
}

#carousel-bounding-box {
  margin:0 auto;
  width:300px;
}

ul{
	list-style: none;
}
ul.spaced li{
	margin-bottom: 10px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: rgba(0,0,0,0.7);
}

.panel .table tbody tr:hover td,
.panel .table tbody tr:hover th {
  background-color: rgba(0,0,0,0.1);
}

.table thead td{
  color:#3881C0;
}

.table thead td a {
  color:#3881C0;
}

.navbar-toggle {
	background: rgba(128, 128, 128, 0.3)
}

.navbar-toggle .icon-bar {
	background: currentColor;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: rgba(1,1,1,0.4)
}

tr.section{
	border : none;
	color  : #3881C0;
	text-align: center;
	font-size: 20px

}

tr.section>td{
	boder: none
}

.navbar-nav {
  margin: 2px 0 0 0;
}

.jumbotron.masthead{
  background-color: rgba(0,0,0,0.5);
}

.remove_vote .add_vote{
	cursor: pointer;
}

.navbar .nav.pull-right {
	float: right;
	margin-right: 20px; /*set margin this way in your custom styesheet*/
}

.club_prompt {
	color:black;
}
